form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

label {
  flex-basis: 100%;
}

.input-Btn_container {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 8px;
}

input {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  flex-basis: 100%;
  border: 1px solid rgba(128, 128, 128, 0.25);
  &:focus {
    outline: none;
    border: 1px solid rgba(245, 245, 245, 0.283);
    box-shadow: 0px 0px 8px 2px rgba(62, 62, 90, 0.5);
  }
}

button {
  background-color: rgba(0, 0, 255, 0.68);
  width: 96px;
}
